body {
  position: relative;
}

body.open-modal {
  /* заборона прокрутки сторінки при відкритій модалці */
  overflow-y: hidden;
}

body.open-modal .overlay,
body.open-modal .modal-window {
  display: block;
  /* opacity: 1;
  visibility: visible;
  pointer-events: initial; */

  /* transform: scale(1); */
}

.overlay {
  position: absolute;
  position: fixed;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.719);
  display: none;
  /* z-index: 999; */

  /* pointer-events: none; */
  /* opacity: 0; */
  /* visibility: hidden; */
  /* transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out; */
}

.modal-window {
  padding: 24px;
  border-radius: 4px;
  max-width: 640px;
  width: 90%;
  /* min-height: 320px; */
  background-color: #e6e0e0;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  display: none;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* transform: scale(1.1); */
  transition: transform 200ms ease-in-out;
}

.close-btn {
  background-color: #d16243;
  box-shadow: 0 2px 5px rgba(211, 37, 37, 0.7);
  font-size: 1.2rem;
  color: #4fe6bb;
  border: none;
}