<footer class="footer">
    <div class="footer__container">
        <div class="social">
            <ul class="social__list">
                <li class="social__item">
                    <a href="https://github.com/VadBorovec" class="social__link">
                        <svg class="social__icon">
                            <use href="#icon#icon-github"></use>
                        </svg>
                    </a>

                </li>
                <li class="social__item">
                    <a href="https://www.linkedin.com/in/vadymborovets/" class="social__link">
                        <svg class="social__icon">
                            <use href="#icon#icon-linkedin"></use>
                        </svg>
                    </a>

                </li>
                <li class="social__item">
                    <a href="https://www.instagram.com/ivanfarfan/" class="social__link">
                        <svg class="social__icon">
                            <use href="#icon#icon-instagram"></use>
                        </svg>
                    </a>

                </li>
                <li class="social__item">
                    <a href="https://t.me/Borovec" class="social__link">
                        <svg class="social__icon">
                            <use href="#icon#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

        <div class="copyright">
            <p>&copy; 2023 - All rights reserved</p>
        </div>
    </div>
</footer>

<button class="to-top-btn" aria-label="Back to top">
    <svg class="to-top-btn__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
        <path fill="currentColor" d="M12 6l-6 6h4v6h4v-6h4l-6-6z" />
    </svg>
</button>

<!-- SCRIPTS -->
<div class="js__main">
    <!-- RANDOM BACKGROUND COLOR -->
    <!-- <script src="./js/01-background-color.js" type="module"></script> -->
    <!-- SCROLL TO TOP -->
    <!-- <script src="./js/02-scroll-to-top.js" type="module"></script> -->
    <!-- LODASH -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
</div>