<header>

    <!-- BTN TO-MAIN -->
    <button type="button" class="back-btn">
        <a class="back-btn__link" href="#project-page">
            <svg class="icon" viewBox="0 0 24 24">
                <path fill="#fff" d="M15.5 8.5l-1-1L10 12l4.5 4.5 1-1L12 12z" />
            </svg>
            <Main></Main>
        </a>
    </button>
    <!-- BTN BACK -->
    <button type="button" class="button back-btn">
        <a class="to-top__link" href="#materials">
            <svg class="icon" viewBox="0 0 24 24">
                <path fill="#fff" d="M15.5 8.5l-1-1L10 12l4.5 4.5 1-1L12 12z" />
            </svg>
            Materials
        </a>
    </button>
    <button type="button" class="button back-btn">
        <a class="to-top__link" href="#lessons">
            <svg class="icon" viewBox="0 0 24 24">
                <path fill="#fff" d="M15.5 8.5l-1-1L10 12l4.5 4.5 1-1L12 12z" />
            </svg>
            Lessons
        </a>
    </button>
    <button type="button" class="button back-btn">
        <a class="to-top__link" href="#weekend">
            <svg class="icon" viewBox="0 0 24 24">
                <path fill="#fff" d="M15.5 8.5l-1-1L10 12l4.5 4.5 1-1L12 12z" />
            </svg>
            Weekend
        </a>
    </button>
    <button type="button" class="button back-btn">
        <a class="to-top__link" href="#autocheck">
            <svg class="icon" viewBox="0 0 24 24">
                <path fill="#fff" d="M15.5 8.5l-1-1L10 12l4.5 4.5 1-1L12 12z" />
            </svg>
            Autocheck
        </a>
    </button>
    <button type="button" class="button back-btn">
        <a class="to-top__link" href="#private-tasks">
            <svg class="icon" viewBox="0 0 24 24">
                <path fill="#fff" d="M15.5 8.5l-1-1L10 12l4.5 4.5 1-1L12 12z" />
            </svg>
            Private tasks
        </a>
    </button>

    <!-- HEADER -->
    <h1 class="page-header">Main</h1>

    <!-- JS FOR PAGE TITLE -->
    <!-- <script type="module" src="./js/03-page-title.js"></script> -->

</header>